body {
    background-color: #ffa774;
    padding: 15%;
}

div {
    margin: auto;
    width: 350px;
    background-color: #EEEFF1;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.in {
    margin-bottom: 10px;
}

#btn {
    background-color: #ffa774;
    color: white;
    margin-bottom: 10px;
}

a {
    color: #9B9B9B;
    font-size: 12px;
    text-align: center;
}