@import url("./reset.css");

#signIn {
   width: 100%;
 }
 #signIn #signInSection {
   width: 100%;
   padding: 100px 0 70px 0;
 }
 #signIn #signInSection .container {
   width: 100%;
   max-width: 340px;
   margin: 0 auto;
 }
 #signIn #signInSection .container .gap {
   width: 100%;
 }
 #signIn #signInSection .container .gap .title {
   width: 100%;
   padding: 0 0 40px 0;
 }
 #signIn #signInSection .container .gap .title h2 {
   font-size: 20px;
   font-weight: 600;
   text-align: center;
 }
 #signIn #signInSection .container .gap .content {
   width: 100%;
 }
 #signIn #signInSection .container .gap .content ul {
   width: 100%;
 }
 #signIn #signInSection .container .gap .content ul li {
   width: 100%;
   height: 54px;
   margin: 0 0 10px 0;
 }
 #signIn #signInSection .container .gap .content ul li:nth-child(3) {
   height: 40px;
 }
 #signIn #signInSection .container .gap .content ul li div {
   width: 100%;
   height: 100%;
 }
 #signIn #signInSection .container .gap .content ul li div input {
   width: 100%;
   height: 100%;
   padding: 0 0 0 15px;
   border-radius: 3px;
   border: 1px solid #ddd;
   color: #333;
   font-size: 14px;
   outline-offset: -1px;
 }
 #signIn #signInSection .container .gap .content ul li div input:focus {
   outline: 1px solid #666;
 }
 #signIn #signInSection .container .gap .content ul li span {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: flex-end;
 }
 #signIn #signInSection .container .gap .content ul li span a {
   color: #666;
   font-size: 13px;
 }
 #signIn #signInSection .container .gap .content ul li button {
   border-radius: 3px;
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   background: #5f0080;
   border: 0;
   cursor: pointer;
 }
 #signIn #signInSection .container .gap .content ul li > a {
   width: 100%;
   height: 100%;
   color: #fff;
   font-size: 15px;
   font-weight: 500;
   background: #fff;
   border: 1px solid #5f0080;
   display: flex;
   color: #5f0080;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
   cursor: pointer;
 }