table{
	border: 2px solid #d2d2d2;
	border-collapse: collapse;
	font-size: 0.9em;
   width: 400;
   height: 600;
   color: #121212;

}
th, td{
	border: 1px solid #d2d2d2;
	border-collapse: collapse;
   
}
th{
	height: 5px;
}
td {
	width: 75px;
	height: 60px;
   color: #fff;
   font-size: 12px;
}
caption {
   left: 0;
}
