body {
    background-color: #a8b0d7;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#form-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-inner-container {
    background-color: white;
    max-width: 50%;
    border-radius: 8px;
}

#sign-up-container, #sign-in-container {
    padding: 60px 80px;
    width: 320px;
    display: inline-block;
}

form input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #c8c8c8;
    background-color: #F6F7FA;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 86%;
}

#form-controls {
    margin-bottom: 20px;
}


h2 {
    color: rgb(0, 0, 0);
    font-size: 150%;
    font-weight: 500;
    text-align: center;

}

::placeholder {
    color: #6b6b6b;
    font-size: larger;
    letter-spacing: 1.2px;
}

#form-controls button {
    border: none;
    font-size: 100%;
}

#form-controls button {
    cursor: pointer;
    width: 100%;
    outline: none;
    border-radius: 10px;


}

button[type="submit"] {
    background-color: #ff8a98;
    border-radius: 10px;
    color: white;
    padding: 20px;
    margin-top: 10px;
}

/* responsive display */


@media(max-width:1124px) {
    #animation-container {
        display: none;
    }

    #form-inner-container{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 684px) {
    #form-controls {
        text-align: center;
        margin: auto;
        padding: auto;
    }


    button {
        width: 80%;
    }

}